

<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>

    <ion-title >Prevalência</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content id="main" color="light">

          <ion-card class="card-no-border card-no-margin">
            <ion-item  lines="none">
              <ion-text>Estima-se que a prevalência de TDAH no mundo varia entre 5% e 7%. No Brasil, estudos locais sugerem taxas de prevalência de aproximadamente 5%​</ion-text>  
            </ion-item>
            <br/>
            <div style="width: 100%; text-align: center;">
              <ion-button style="margin: auto; text-align: center;" class="m-auto text-center align-middle justify-center self-center">Saiba mais sobre a região</ion-button>
            </div>
            <br/>

          </ion-card>

</ion-content>