<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="editing">{{'EXPENSE.EDIT_EXPENSE' | translate}}</ion-title>
    <ion-title *ngIf="!editing">Nova solicitação</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content color="light">
  <div #map class="map"></div>

  <form *ngIf="expense" class="mt-6" #expenseForm="ngForm" name="expenseForm">
    <ion-row class="flex justify-center ">
      <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-label > Tipo: </ion-label>
          <ion-select  >
            <ion-select-option value="ADMIN">Subida de barco</ion-select-option>
            <ion-select-option value="REFUNDER">Decida de barco</ion-select-option>
            <ion-select-option value="APPROVING1">Manutenção de pátio</ion-select-option>
            <ion-select-option value="APPROVING2">Abastecimento</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    <br/>
    <br/>
    <br/>

      <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="pencil-outline"></ion-icon>
          <ion-label position="stacked">{{'EXPENSE.NAME' | translate}}: <span class="text-red-500">*</span></ion-label>
          <ion-input #name="ngModel"  [(ngModel)]="expense.elements.name" name="name" type="text" 
            spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="name.valid || submitted == false" class="ion-padding-start">
            {{'EXPENSE.NAME_PLACEHOLDER' | translate}}
          </p>
        </ion-text>
      </ion-col>

      <ion-col *ngIf="isKilometer()" size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="cash-outline"></ion-icon>
          <ion-label position="stacked">{{'EXPENSE.INIT_KILOMETER' | translate}}<span class="text-red-500">*</span></ion-label>
          <ion-input #value="ngModel"  [(ngModel)]="expense.elements.init_kilometer" name="init_kilometer" type="number" 
            spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="(value.valid) || submitted == false" class="ion-padding-start">
            {{'EXPENSE.UNITY_VALUE_PLACEHOLDER' | translate}}
          </p>
        </ion-text>
      </ion-col>



    </ion-row>
  </form>

  <ion-row>
    <ion-col class="m-auto" size="11">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let attachment of attachments; let i = index" (click)="openOptions($event, i)">
          <img *ngIf="attachment.file" style="height: 150px;" class="rounded-md h-full m-4"  [src]="attachment.file | safeHtml">
        </ion-slide>
        <ion-slide (click)="openOptions($event)">
          <div class="h-40 border-2 border-dotted border-blue-500 w-full m-2 rounded-md">
            <ion-icon color="primary" class="text-6xl m-auto mt-2" src="/assets/fontawesome/solid/images.svg"></ion-icon>
            <p class="font-bold text-blue-500">Incluir foto</p>
            <p class="text-sm text-blue-500">{{'JPG_GIF_PNG_ONLY' | translate}}</p>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="backToList()" fill="outline" color="danger" expand="block">
          Voltar
        </ion-button>
      </ion-col>
      <ion-col *ngIf="!editing" size="6">
        <ion-button (click)="create(expenseForm)"  expand="block">
          {{'NEW_REGISTER_BUTTON' | translate}}
        </ion-button>
      </ion-col>
      <ion-col *ngIf="editing" size="6">
        <ion-button (click)="save(expenseForm)"  expand="block">
          {{'SAVE_BUTTON' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

