<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548912274575-riifkvn1b5skvh4u8fm4s26f7imfrs5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548912274575-riifkvn1b5skvh4u8fm4s26f7imfrs5p</string>
	<key>API_KEY</key>
	<string>AIzaSyDzvU2regsEiOSdiecw7agyqgjK4LEznKw</string>
	<key>GCM_SENDER_ID</key>
	<string>548912274575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>col.com.eloverde.kampo</string>
	<key>PROJECT_ID</key>
	<string>kampo-429a2</string>
	<key>STORAGE_BUCKET</key>
	<string>kampo-429a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548912274575:ios:1605b2bf04eb179f2124fa</string>
</dict>
</plist>