

<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons *ngIf="!isSearchable" slot="end">
      <ion-button (click)="changeSearch()">
        <ion-icon name="search-outline"> </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="!isSearchable">Tipo</ion-title>

    <ion-searchbar (ionBlur)="checkBlur()" #search [hidden]="!isSearchable" color="light" [(ngModel)]="searchTerm"
      (ionChange)="searchTask()" [placeholder]="'INPUT_SEARCH_PLACEHOLDER' | translate"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content id="main" color="light">

          <ion-card class="card-no-border card-no-margin">
            <ion-item (click)="toChoose()" lines="none">
              <ion-icon  slot="start"  color="primary" name="ellipse"></ion-icon>
              <ion-label>TDAH</ion-label>  
              <ion-buttons  slot="end">
                <ion-button color="primary">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card>

          <ion-card class="card-no-border card-no-margin">
            <ion-item  lines="none">
              <ion-icon  slot="start"  color="primary" name="ellipse"></ion-icon>
              <ion-label>Depressão</ion-label>  
              <ion-buttons  slot="end">
                <ion-button color="primary">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card>

          <ion-card class="card-no-border card-no-margin">
            <ion-item lines="none">
              <ion-icon  slot="start"  color="primary" name="ellipse"></ion-icon>
              <ion-label>Ansiedade</ion-label>  
              <ion-buttons  slot="end">
                <ion-button color="primary">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card>

          <ion-card class="card-no-border card-no-margin">
            <ion-item  lines="none">
              <ion-icon  slot="start"  color="primary" name="ellipse"></ion-icon>
              <ion-label>Autismo</ion-label>  
              <ion-buttons  slot="end">
                <ion-button color="primary">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card>

          <ion-card class="card-no-border card-no-margin">
            <ion-item  lines="none">
              <ion-icon  slot="start"  color="primary" name="ellipse"></ion-icon>
              <ion-label>Psicose</ion-label>  
              <ion-buttons  slot="end">
                <ion-button color="primary">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card>

          <ion-card class="card-no-border card-no-margin">
            <ion-item  lines="none">
              <ion-icon  slot="start"  color="primary" name="ellipse"></ion-icon>
              <ion-label>Suicídio</ion-label>  
              <ion-buttons  slot="end">
                <ion-button color="primary">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card>

          <ion-card class="card-no-border card-no-margin">
            <ion-item lines="none">
              <ion-icon  slot="start"  color="primary" name="ellipse"></ion-icon>
              <ion-label>Automutilação</ion-label>  
              <ion-buttons  slot="end">
                <ion-button color="primary">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card>

</ion-content>