<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Visualizar Despesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <img style="border-color: #0205A1;"  src="../../../assets/nf.jpeg" />
  <form class="mt-6" #loginForm="ngForm" novalidate>
    <ion-row class="flex justify-center ">
      <ion-col size="11">
        <ion-item  lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="file-tray-full-outline"></ion-icon>
          <ion-label>Política de Despesas: </ion-label>
          <ion-select disabled="true"interface="action-sheet" value="cs" placeholder="">
            <ion-select-option value="cs"><ion-text>Despesas de Março</ion-text></ion-select-option>
            <ion-select-option value="cd">Despesas de Fevereiro</ion-select-option>
            <ion-select-option value="f">Despesas de Janeiro</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="pencil"></ion-icon>
          <ion-label>Fornecedor: </ion-label>
          <ion-input disabled="true" value="POSTO RODAO" name="username" type="text" 
            spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="receipt"></ion-icon>
          <ion-label>Valor: </ion-label>
          <ion-input disabled="true" value="150,320" required="true"  name="username" type="number" 
            spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>
      </ion-col>
      <div class="h-2 w-7/12 mt-6 rounded-md mb-6" style="background-color: #0205A1;"></div>

      <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="document"></ion-icon>
          <ion-label>Tipo de Documento: </ion-label>
          <ion-select disabled="true" value="cd" interface="popover" placeholder="">
            <ion-select-option value="cs">Boleto</ion-select-option>
            <ion-select-option value="cd">Nota fiscal</ion-select-option>
            <ion-select-option value="f">Recibo</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="document-text"></ion-icon>
          <ion-label>Número do documento: </ion-label>
          <ion-input disabled="true" required="true"  name="username" type="number" 
            spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="card"></ion-icon>
          <ion-label>Forma de pagamento: </ion-label>
          <ion-select disabled="true" value="f" interface="popover" placeholder="">
            <ion-select-option value="cs">Cartão de crédito</ion-select-option>
            <ion-select-option value="cd">Cartão de débito</ion-select-option>
            <ion-select-option value="f">Dinheiro</ion-select-option>
            <ion-select-option value="m">Boleto Bancário</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="albums"></ion-icon>
          <ion-label>Categoria: </ion-label>
          <ion-select disabled="true" value="c" interface="popover" placeholder="">
            <ion-select-option value="f">Comida</ion-select-option>
            <ion-select-option value="c">Combustível</ion-select-option>
            <ion-select-option value="m">Serviço</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="information-circle-outline"></ion-icon>
          <ion-label position="floating">Observação: </ion-label>
          <ion-textarea disabled="true" value="Abastecido com gasolina comum"></ion-textarea>
        </ion-item>
      </ion-col>

    </ion-row>
  </form>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row >
      <ion-col size="6">
        <ion-button (click)="toReportView()" fill="outline" color="danger" expand="block">
          Reprovar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="success" (click)="toReportView()"  expand="block">
          Aprovar
        </ion-button>
      </ion-col>
    </ion-row>
   
  </ion-toolbar>
</ion-footer>
