
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="menu">
        <ion-icon name="home-outline" > </ion-icon>
        <ion-label>Início</ion-label>
        <ion-badge *ngIf="getTasksLength() > 0">{{getTasksLength()}}</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="qr-code">
        <ion-icon  src="../../assets/icons/elo-model.svg"  ></ion-icon>
        <ion-label>Ler Código</ion-label>
      </ion-tab-button>
  
      <ion-tab-button disabled="true" tab="search-partners">
        <ion-icon src="../../assets/icons/elo-verde.svg" ></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
