

<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>

    <ion-title >Intervenções</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content id="main" color="light">

          <ion-card class="card-no-border card-no-margin">
            <br/>

            <div style="width: 100%; text-align: center;">
              <ion-button (click)="toFarmacologia()" style="margin: auto; text-align: center;" class="m-auto text-center align-middle justify-center self-center">Programa Triple P</ion-button>
            </div>
            
            <br/>

            <div style="width: 100%; text-align: center;">
              <ion-button style="margin: auto; text-align: center;" class="m-auto text-center align-middle justify-center self-center">Psicoterapias</ion-button>
            </div>

            <br/>

            <div style="width: 100%; text-align: center;">
              <ion-button style="margin: auto; text-align: center;" class="m-auto text-center align-middle justify-center self-center">PsicoEducação</ion-button>
            </div>
            <br/>
          </ion-card>

</ion-content>