<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header class="ion-no-border">
        <ion-toolbar color="primary">
          <ion-title>Kampo App</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content >
        <div style="background-color: #0205A1;" class=" h-24 relative">
    
          <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
              <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </path></defs>
            <g class="wave1">
              <use xlink:href="#wave-path" x="50" y="3" fill="rgba(244,245,248, .1)">
            </use></g>
            <g class="wave2">
              <use xlink:href="#wave-path" x="50" y="0" fill="rgba(244,245,248, .2)">
            </use></g>
            <g class="wave3">
              <use xlink:href="#wave-path" x="50" y="9" fill="#F4F5F8">
            </use></g>
          </svg>
          <ion-list  id="inbox-list">
            <ion-list-header>Aferidor</ion-list-header>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of aferidor; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <div *ngIf="user == 'revisador' || user == 'admin'" class="h-1 w-2/6 mt-4 mb-4 m-auto rounded-md" style="background-color: #0205A1;"></div>
          
          <ion-list *ngIf="user == 'revisador' || user == 'admin'" id="inbox-list">
            <ion-list-header >Aprovador</ion-list-header>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of aprovador; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <div *ngIf="user == 'admin'" class="h-1 w-2/6 mt-4 mb-4 m-auto rounded-md" style="background-color: #0205A1;"></div>
          <ion-list *ngIf="user == 'admin'"  id="inbox-list">
            <ion-list-header>Admin</ion-list-header>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of admin; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <div class="h-1 w-2/6 mt-4 mb-4 m-auto rounded-md" style="background-color: #0205A1;"></div>
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" routerLink="/login" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon color="danger" slot="start" ios="exit-outline" md="exit-sharp"></ion-icon>
                <ion-label>Sair</ion-label>
              </ion-item>
            </ion-menu-toggle>
        </div>
        
      </ion-content>
      <ion-footer>
        <img style="height: 150px;" class="rounded-md m-auto mb-6" src="../assets/logo-white.jpeg" />
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>