.success-loading {
  font-size: 60px;
  padding: 10px;
  border-radius: 100%;
  float: left;
  background-color: #6C9F23;
}

.failed-loading {
  font-size: 60px;
  padding: 10px;
  border-radius: 100%;
  float: left;
  background-color: #eb445a;
}

.warning-loading {
  font-size: 60px;
  padding: 10px;
  border-radius: 100%;
  float: left;
  background-color: #ffc409;
}