

<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>

    <ion-title >Programa Triple P</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content id="main" color="light">

          <ion-card class="card-no-border card-no-margin">
            <ion-card-header>
              <ion-card-title>
                Triple P
              </ion-card-title>
            </ion-card-header>
            <br/>
            <br/>

            <div style="width: 100%; text-align: center;">
              <ion-button (click)="toFarmacologiaDescription()" style="margin: auto; text-align: center;" class="m-auto text-center align-middle justify-center self-center">Informações</ion-button>
            </div>
            
            <br/>

            <div style="width: 100%; text-align: center;">
              <ion-button (click)="toFarmacologiaROI()" style="margin: auto; text-align: center;" class="m-auto text-center align-middle justify-center self-center">Custos e retorno de investimento</ion-button>
            </div>

            <br/>
            <br/>
          </ion-card>

</ion-content>