

<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title >Triple P - Descrição</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content id="main" color="light">

          <ion-card class="card-no-border card-no-margin">
            <ion-card-header>
              <ion-card-title>
                Como é a intervação?
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>Programa de Parentalidade Positiva (Triple P) </ion-text>
            </ion-card-content>
          </ion-card>

          <ion-card class="card-no-border card-no-margin">
            <ion-card-header>
              <ion-card-title>
                Quem pode aplicar a intervenção?
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>Parentes acompanhados de um agente de saúde capacitado</ion-text>
            </ion-card-content>
          </ion-card>

          <ion-card class="card-no-border card-no-margin">
            <ion-card-header>
              <ion-card-title>
                Onde a intervenção pode ser aplicada?
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>Impactos na saúde, frequência escolar, saúde mental de crianças e adolescentes, saúde mental de adultos futuros e ganhos futuros de adultos.</ion-text>
            </ion-card-content>
          </ion-card>

          <ion-card class="card-no-border card-no-margin">
            <ion-card-header>
              <ion-card-title>
                Público-alvo da intervenção?
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>Crianças dos 7 aos 10 anos</ion-text>
            </ion-card-content>
          </ion-card>

          <ion-card class="card-no-border card-no-margin">
            <ion-card-header>
              <ion-card-title>
                Evidências de eficácia?
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>Ele é também um dos programas parentais com mais evidências científicas do mundo. O Triple P tem ajudado milhares de famílias, contando com a aprovação de pais e especialistas em 25 países ao redor do mundo.</ion-text>
            </ion-card-content>
          </ion-card>

</ion-content>