

<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>

    <ion-title >Definição</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content id="main" color="light">

          <ion-card class="card-no-border card-no-margin">
            <ion-item  lines="none">
              <ion-text>TDAH é caracterizado por uma combinação de sintomas de desatenção, hiperatividade e impulsividade. Esses sintomas frequentemente se manifestam em diferentes contextos e podem resultar em prejuízos em diferentes esferas da vida.</ion-text>  
            </ion-item>

            <div style="width: 100%; text-align: center;">
              <ion-button style="margin: auto; text-align: center;" class="m-auto text-center align-middle justify-center self-center">Saiba mais</ion-button>
            </div>
            <br/>

          </ion-card>

</ion-content>