<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="editing">{{'USER.EDIT_USER' | translate}}</ion-title>
    <ion-title *ngIf="!editing">{{'USER.NEW_USER' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div style="border-color: gray;" (click)="openOptions($event)" class="circular m-auto mt-6 relative border-2">
    <img *ngIf="user?.getRelation('avatar')?.getAttribute('token')" [src]="getIconUrl(user?.getRelation('avatar')?.getAttribute('token'))" />
    <div class="w-full text-center absolute bottom-0 mb-12 justify-center">
      <ion-icon color="primary" class="text-6xl m-auto" *ngIf="!user?.getRelation('avatar')?.getAttribute('token')" src="/assets/fontawesome/solid/user.svg"></ion-icon>
    </div>
    <div style="background-color: black;" class="absolute bottom-0 pb-6 h-12 w-full opacity-50 text-center"></div>
    <div class="absolute bottom-0 mb-6 w-full text-center">
      <span style="color: white;" class="text-sm font-bold">Alterar imagem</span>
    </div>
  </div>

  <form *ngIf="user" class="mt-6" #userForm="ngForm" name="userForm">
    <ion-row class="flex justify-center ">
      <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="person"></ion-icon>
          <ion-label>{{'NAME_LABEL' | translate}} : </ion-label>
          <ion-input #name="ngModel"  [(ngModel)]="user.elements.name" name="name" type="text" 
            spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="name.valid || submitted == false" class="ion-padding-start">
            {{'USER.NAME_PLACEHOLDER' | translate}}
          </p>
        </ion-text>
      </ion-col>

      <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="person"></ion-icon>
          <ion-label>{{'USER.LOGIN_LABEL' | translate}}: </ion-label>
          <ion-input #username="ngModel" [(ngModel)]="user.elements.username" name="username" type="text" 
            spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
            {{'USER.LOGIN_PLACEHOLDER' | translate}}
          </p>
        </ion-text>
      </ion-col>

      <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="mail"></ion-icon>
          <ion-label>{{'EMAIL_LABEL' | translate}}: </ion-label>
          <ion-input #email="ngModel"  [(ngModel)]="user.elements.email" name="email" type="email" 
            spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="(email.valid && verifyEmail())|| submitted == false" class="ion-padding-start">
            {{'USER.EMAIL_PLACEHOLDER' | translate}}
          </p>
        </ion-text>
      </ion-col>

      <ion-col *ngIf="!editing" size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="lock-closed"></ion-icon>
          <ion-label>{{'PASSWORD_LABEL' | translate}}: </ion-label>
          <ion-input #password="ngModel"  [(ngModel)]="passwordParams.password" name="password" type="password" 
            spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="(password.valid && verifyEmail())|| submitted == false" class="ion-padding-start">
            {{'PASSWORD_INPUT_PLACEHOLDER' | translate}}
          </p>
        </ion-text>
      </ion-col>

      <ion-col *ngIf="!editing" size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="lock-closed"></ion-icon>
          <ion-label>{{'USER.CONFIRM_PASSWORD' | translate}}: </ion-label>
          <ion-input #confirmation="ngModel"  [(ngModel)]="passwordParams.confirmation" name="confirmation" type="password" 
            spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="(confirmation.valid && verifyEmail())|| submitted == false" class="ion-padding-start">
            {{'USER.CONFIRM_PASSWORD_PLACEHOLDER' | translate}}
          </p>
        </ion-text>
      </ion-col>

      <ion-col size="11">
        <app-ev-multi-select [values]="roles" iconColor="tertiary" icon="../../../assets/fontawesome/solid/user-lock.svg" showField="description" placeholder="{{'USER.ROLES_LABEL' | translate}}"
        (valueChange)="selectChange($event)" [(valueId)]="selectedRoles" inputName='Roles' [baseService]="roleService"
        #roleSelect></app-ev-multi-select>
      </ion-col>

      <ion-col size="11">
        <app-ev-select name="Departamento" [baseModel]="departmentModel" [creatable]="true" [value]="department" iconColor="tertiary" icon="../../../assets/fontawesome/solid/user-friends.svg" showField="name" placeholder="{{'DEPARTMENT_LABEL' | translate}}"
        (valueChange)="selectChange($event)" [(valueId)]="selectedDepartmentId" inputName='Roles' [baseService]="departmentService"
        #roleSelect></app-ev-select>
      </ion-col>

      <ion-col size="11">
        <app-ev-select name="Centro de Custo" [baseModel]="costCenterModel" [creatable]="true" [value]="costCenter" iconColor="tertiary" icon="../../../assets/fontawesome/solid/file-invoice-dollar.svg" showField="name" placeholder="{{'COST_CENTER_LABEL' | translate}}"
        (valueChange)="selectChange($event)" [(valueId)]="selectedCostCenterId" inputName='Roles' [baseService]="costCenterService"
        #roleSelect></app-ev-select>
      </ion-col>


      <!-- <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="file-tray-full-outline"></ion-icon>
          <ion-label>Departamento: </ion-label>
          <ion-select interface="action-sheet" value="cs" placeholder="">
            <ion-select-option value="cs"><ion-text>Desenvolvimento</ion-text></ion-select-option>
            <ion-select-option value="cd">Suporte</ion-select-option>
            <ion-select-option value="f">Comercial</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="11">
        <ion-item lines="none" class="rounded-lg">
          <ion-icon slot="start" color="tertiary" name="aperture-outline"></ion-icon>
          <ion-label>Centro de custo: </ion-label>
          <ion-select interface="action-sheet" value="f" placeholder="">
            <ion-select-option value="cs"><ion-text>Marketing</ion-text></ion-select-option>
            <ion-select-option value="cd">Vendas</ion-select-option>
            <ion-select-option value="f">Desenvolvimento</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col> -->

    </ion-row>
  </form>

  <div *ngIf="editing" class="mt-4 w-full m-auto text-center">
    <ion-button (click)="changePassword()" class="m-auto" fill="outline">
      <ion-icon slot="start" name="lock-closed" color="tertiary"></ion-icon>
      <ion-label>{{'USER.CHANGE_PASSWORD' | translate}}</ion-label>
    </ion-button>  
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="backToList()" fill="outline" color="danger" expand="block">
          {{'BACK_BUTTON' | translate}}
        </ion-button>
      </ion-col>
      <ion-col *ngIf="!editing" size="6">
        <ion-button [disabled]="!hasPasswordInformedAndIsValid()" (click)="create(userForm)"  expand="block">
          {{'SAVE_BUTTON' | translate}}
        </ion-button>
      </ion-col>
      <ion-col *ngIf="editing" size="6">
        <ion-button [disabled]="!hasPasswordInformedAndIsValid()" (click)="save(userForm)"  expand="block">
          {{'SAVE_BUTTON' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
