<ion-header color="danger">
  <ion-toolbar class="text-center" color="danger">
    <ion-icon src="./assets/icons/elo-incident.svg" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<h1 class="text-center mt-5"><strong>Atenção</strong></h1>
<ion-row>
  <ion-col class="text-center">
    <ion-text>Você precisa de internet para completar esse ação</ion-text>
  </ion-col>
</ion-row>

<div class="flex justify-center mb-2">
  <ion-button (click)="close()" color="danger" class="text-center">Sair</ion-button>
</div>