<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons *ngIf="value" slot="start">
      <ion-button (click)="clear()"><strong>Limpar</strong></ion-button>
    </ion-buttons>
    <ion-title>{{selectTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-searchbar #search type="text" placeholder="Buscar" [(ngModel)]="searchTerm" (ionChange)="getValues()">
  </ion-searchbar>
  
  <ion-list *ngIf="list?.length > 0">
    <ion-item *ngFor="let item of list" (click)="setValue(item)">
      <ng-container *ngIf="item.getAttribute(indexField) || item.getAttribute(showField)">
        <ion-text class="py-2" *ngIf="!indexField">{{item.getAttribute(showField)}}</ion-text>
        <ion-text class="py-2" *ngIf="indexField">{{item.getAttribute(indexField)}} - {{item.getAttribute(showField) ? item.getAttribute(showField) : 'Não informado'}}</ion-text>
      </ng-container>
      <ng-container *ngIf="!item.getAttribute(indexField) && !item.getAttribute(showField)">
        <ion-text class="font-bold">{{notFound}}</ion-text>
      </ng-container>

      <ion-icon color="primary" name="chevron-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll *ngIf="!resource" threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-row *ngIf="list?.length == 0">

    <ion-col style="height: 100%;">

      <ion-card style="height: 100%;" mode="ios" style="text-align: center;">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-content>

          <ion-icon style="font-size: 80px;" color="primary" name="arrow-up-outline"></ion-icon>
          <ion-text color="dark">
            <h2><strong>Informe na busca o que deseja</strong></h2>
          </ion-text>

        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

</ion-content>