

<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons *ngIf="!isSearchable" slot="end">
      <ion-button (click)="changeSearch()">
        <ion-icon name="search-outline"> </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="!isSearchable">Opção</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content id="main" color="light">

          <ion-card class="card-no-border card-no-margin">
            <ion-item (click)="toDefinition()" lines="none">
              <ion-icon  slot="start"  color="primary" name="ellipse"></ion-icon>
              <ion-label>Definição</ion-label>  
              <ion-buttons  slot="end">
                <ion-button color="primary">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card>

          <ion-card class="card-no-border card-no-margin">
            <ion-item  lines="none">
              <ion-icon  slot="start"  color="primary" name="ellipse"></ion-icon>
              <ion-label>Prevalência</ion-label>  
              <ion-buttons  slot="end">
                <ion-button color="primary">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card>

          <ion-card class="card-no-border card-no-margin">
            <ion-item  lines="none">
              <ion-icon  slot="start"  color="primary" name="ellipse"></ion-icon>
              <ion-label>Intervenções</ion-label>  
              <ion-buttons  slot="end">
                <ion-button color="primary">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card>

</ion-content>